.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.pp_three_col {
}
.pp_three_col .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pp_three_col .block {
  padding: 0 20px;
  position: relative;
  width: 30%;
  display: flex;
/*   align-items: center; */
}
.pp_three_col .block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  background: #BBDBFB;
  bottom: 0;
}
.pp_three_col .block .bold{
  color: #212529;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
.pp_three_col .block p {
  color: #212529;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

@media (max-width: 767px) {
  .pp_three_col .block {
    width: 100%;
    margin: 20px 0;
  }
}





