<section class="transactional_upgrades">
  {% if module.heading %}
  <div class="transactional_title d-flex align-items-center">
    <i class="circle_icon icon-credit_cards">
      <span class="path1"></span>
      <span class="path2"></span>
      <span class="path3"></span>
      <span class="path4"></span>
      <span class="path5"></span>
      <span class="path6"></span>
    </i>
    <h3>{{ module.heading }}</h3>
  </div>
  {% endif %}
  {% for item in module.upgrade_items %}
  <div class="transactional_data d-flex justify-content-between">
    <div class="d-flex align-items-center transactional_info">
      <div class="left_space"></div>
      {% if item.icon.src %}
      <div class="transactional_info_icon ic_{{loop.index}}" style="background-image:url('{{ item.icon.src }}')"></div>
      {% endif %}
      <div class="transactional_info_details">
        <h5>{{ item.title }}</h5>
        <p>{{ item.sub_title }}</p>
      </div>
    </div>
    <div class="transactional_price">
      <div class="currency"><small>$</small>{{ item.price }}</div><span>{{ item.price_sub_title }}</span></div>
  </div>
  {% if not loop.last %}
  <div class="transactional_line"></div>
  {% endif %}
  {% endfor %}  
</section>