.top-icon-title {
  margin: 25px 0;
}
.top-icon-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.top-icon-title ul li {
  list-style: none;
  font-size: 14px;
  text-align: center;
  transition: all .3s ease!important;
}

.top-icon-title ul li .quick_icons {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px -2px #e3e3f8;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  background-size: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all .3s ease!important;
}

.top-icon-title ul li .quick_icons.ic_2 {
  background-size: 25px;
}

.top-icon-title ul li h4 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #005681;
  margin-top: 20px;
  font-size: 18px;
  transition: all .3s ease!important;
}

.top-icon-title ul li.code {
  margin: 0 15px 15px 0;
}

.top-icon-title ul li.code > span {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px -2px #e3e3f8;
  text-align: center;
  transition: all .5s ease!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-icon-title ul li.code > span > i {
  color: #5c82c0;
  font-size: 20px;
}

@media(max-width:767px){
  .top-icon-title ul li.code>span {
    width: 90px;
    height: 90px;
  }
}

@media(max-width:425px){
  .top-icon-title ul li.image {
    margin-bottom: 40px;
  }
}