<div class="container reveal" id="featureset">
  <div class="pricing-table">
    <div class="heading-row">
      {% for item in module.table_headings %}
        <div class="column">{{ item }}</div>
      {% endfor %}
    </div><!-- end heading-row -->
    
    <div class="body-row">
      {% for item in module.table_content %}
        <div class="data-row data-row-head">
          <div class="column column-heading">{{ item.data_heading }}</div>
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
        
        {% for item2 in item.table_body %}
          <div class="data-row">
            {% for item3 in item2.table_data %}
              <div class="column">
                {% if item3 == "check" %}
                  <img src="https://8104331.fs1.hubspotusercontent-na1.net/hubfs/8104331/Checkmark-2.svg" alt="Checkmark">
                {% else %}
                  {{ item3 }}
                {% endif %}
              </div>   
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div><!-- end body-row -->
  </div><!-- end pricing-table -->
</div><!-- end container -->