
  <div class="pp_img_text_banner {% if module.position %}shift{% endif %} {% if module.reveal == true %} reveal{% endif %}">
  <div class="container">
    <div class="img_part">
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/943683321?h=8807b4ad2b&amp;badge=1&amp;autopause=0&amp;player_id=1&amp;app_id=58479&amp;autoplay=1&amp;loop=1&amp;mute=1;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius:35px;" title="(no QR) Skopenow 30s spot_v4.15"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div class="text_part">
      <h4>
        {{ module.top_text }}
      </h4>
      <h2>
        {{ module.title }}
      </h2>
      <p>
        {{ module.content }}
      </p>
    </div>
  </div>
</div>