<div class="explore-skopenow-wrap">
  <div class="explore-skopenow-inner">
    <ul>
      {% for item in module.explore_items %}
      <li>
        {% set href = item.link_field.url.href %}
        {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if item.link_field.no_follow %}
        {% do rel.append("nofollow") %}
        {% endif %}
        {% if item.link_field.open_in_new_tab %}
        {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
           {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
           {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
           >
          <div class="icon-wrap">
            {{ item.icon }}
          </div>
          <div class="content">
            <span class="link_word">{{ item.title }}</span>
            <span class="link_desc">{{ item.sub_title }}</span>
          </div>
        </a>
      </li>
      {% endfor %}
      <div class="btn-demo">
        {% set href = module.button_link.url.href %}
        {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_link.no_follow %}
        {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_link.open_in_new_tab %}
        {% do rel.append("noopener") %}
        {% endif %}
        <a class="schedule_demo_link" href="{{ href }}"
           {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
           >
          {{ module.button_text }}</a>
      </div>
    </ul>
  </div>
</div>