<div class="image_content_wrapper {% if module.direction == "left" %} left {% else %} right {% endif %} vertical_middle_wrapper">
  <div class="page-center img-content_inner vertical_middle_wrapper_inner">
    {% if module.direction == "left" %} 
    <div class="block_image col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical_middle">
      <div class="block_image_bg" style="background-image:url('{{ module.image_field.src }}')"></div>
    </div>
    <div class="block_content col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical_middle">
      <h2>
        {{ module.heading }}
      </h2>
      <p>
        {{ module.content }}
      </p>
    </div>
    {% endif %}
    {% if module.direction == "right" %}
      <div class="block_content col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical_middle">
      <h2>
        {{ module.heading }}
      </h2>
      <p>
        {{ module.content }}
      </p>
    </div>      
    <div class="block_image col-lg-6 col-md-6 col-sm-12 col-xs-12 vertical_middle">
      <div class="block_image_bg" style="background-image:url('{{ module.image_field.src }}')"></div>
    </div>    
    {% endif %}
  </div>
</div>