<div class="container page-center skopenow_help_links_section">
  <h3>{{ module.section_heading }}</h3>
  <div class="new_section_separator"></div>
  <div class="skopenow_help_options skopenow_help_links">
    <div class="row">
      {% for item in module.serving_button_items %}
      <div class="column col-lg-4 col-md-6 col-sm-6 col-12">
        {% set href = item.link_field.url.href %}
        {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if item.link_field.no_follow %}
        {% do rel.append("nofollow") %}
        {% endif %}
        {% if item.link_field.open_in_new_tab %}
        {% do rel.append("noopener") %}
        {% endif %}
        <a class="{{item.border_color}}" href="{{ href }}"
           {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
           {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
           >
          {{ item.text }}
        </a>
      </div>
      {% endfor %}      
    </div>
  </div>
</div>
