<!--
templateType: page
isAvailableForNewContent: true
label: Career Page
-->

{% extends "./layouts/base.html" %}
{% block header %}
<div class="hs-career-page has-footer-only hs-v2-page">
  {% global_partial path="./partials/header.html" %}
  {% endblock header %}
  {% block body %}


  <div class="hs-career-page-inner">
    <div class="main-content-wrapper">
      <main class="body-container-wrapper">


        <div class="hs-career-page-row1-wrap">
          <div class="content-wrapper">
            <div class="row">
              <div class="row-pad">
                <div class="Careers_top_section_row">
                  {% dnd_area "Careers_top_section" class='', label='Row 1 - Careers top section' %}
                  {% end_dnd_area %}
                </div>
                <div class="how_we_ar_section_row">
                  {% dnd_area "how_we_ar_section" class='', label='Row 1 - How we are section' %}
                  {% end_dnd_area %}
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="hs-career-page-row2-wrap">
          <div class="row">
            <div class="column column-1">
              {% dnd_area "bg-image_row" class='', label='Row 2' %}
              {% end_dnd_area %}
            </div>
          </div>
        </div>


        <div class="hs-career-page-row3-wrap" id="career_listing">
          {% dnd_area "col3" class='', label='Row 3' %}
          {% end_dnd_area %}
        </div>



      </main>
    </div>
  </div>
  {% endblock body %}

  {% block footer %}
  {% global_partial path="./partials/footer_v2.html" %}
</div>
{% endblock footer%}